html {
  font-family:
    YuGothicM,
    YuGothic,
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif;
}

@font-face {
  font-family: "YuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"),
       local("Yu Gothic Medium"),
       local("YuGothic-Regular");
}

@font-face {
  font-family: "YuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"),
       local("Yu Gothic"),
}
